In [40]:
import pandas as pd

In [44]:
data = pd.read_csv("convert_old.csv")
data

        F1           F2 F3  F4
0  2020-09  서울시 송파구 잠실동  F NaN
1  2020-09      서울시 송파구  M NaN

In [80]:
data = pd.read_csv("convert_old.csv")

# Insert a new column with data (size is same as dataframe rows)
data['addr_1'] = [''] * len(data)
data['addr_2'] = [''] * len(data)
data['addr_3'] = [''] * len(data)

# For each rows
for index, row in data.iterrows():
    
    # address split with space
    addr = row['F2']
    addr_list = addr.split(" ")
    
    # insert splitted items into new column
    if len(addr_list) >= 1:
        data.at[index, 'addr_1'] = addr_list[0]
    if len(addr_list) >= 2:
        data.at[index, 'addr_2'] = addr_list[1]
    if len(addr_list) >= 3:
        data.at[index, 'addr_3'] = addr_list[2]

# 이전 컬럼 필요 없다면 column 지우기
data = data.drop(columns=['F2'])

# 저장하기
data.to_csv("convert_new.csv", index=False)

data

        F1 F3  F4 addr_1 addr_2 addr_3
0  2020-09  F NaN    서울시    송파구    잠실동
1  2020-09  M NaN    서울시    송파구