In [40]:
import pandas as pd

In [41]:
data = pd.read_csv("convert_old.csv")
data

        F1       F2   F3   F4
0  2020-09  서울시 송파구  잠실동    F
1  2020-09  서울시 송파구    M  NaN

In [42]:
data = pd.read_csv("convert_old.csv")
for index, row in data.iterrows():
    if (row['F3'] == 'F') or (row['F3'] == 'M'):
        row['F4'] = row['F3']
data

        F1       F2   F3 F4
0  2020-09  서울시 송파구  잠실동  F
1  2020-09  서울시 송파구    M  M

In [43]:
data = pd.read_csv("convert_old.csv")
for index, row in data.iterrows():
    if (row['F3'] == 'F') or (row['F3'] == 'M'):
        row['F4'] = row['F3']
        row['F3'] = None
data.to_csv("new.csv", index=False)
data

        F1       F2    F3 F4
0  2020-09  서울시 송파구   잠실동  F
1  2020-09  서울시 송파구  None  M